#sidebar .nav {
  padding-left: 0px;
}

#sidebar .nav li.nav-item ul.nav li {
  padding-left: 35px;
}

#sidebar .nav li.nav-item i.menu-icon {
  cursor: pointer;
  color:#bfccda;
  font-size: 15px;
}

.service-facebook .row .stretch-card .card .card-body .card-title i {
  margin-right: 10px;
}

.service-facebook .row .stretch-card .card .card-body .form-control {
  padding: 15px;
}

.service-facebook .row .stretch-card .card .card-body button {
  color: white;
  padding: 15px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
    vertical-align: baseline !important;
}

.note-color {
  /* padding: 5px; */
  color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 4px;
}
.note-page-payment {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 4px;
  text-decoration: none !important;
  color: #76838f;
}

.note-title-page-payment {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 4px;
}

.page-payment #payment_type {
  padding: 0.875rem 1.375rem;
}

.btn-cancel {
  color: #E38B29;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 25px;
  padding-right: 25px;
}

.notifications {
  bottom: 5px !important;
  right: 5px !important;
  top: auto !important;
}
/* .vue-notification {
  background: #f2125e !important;
  border-left-color: #f2125e !important;
  border-radius: 4px !important;
} */

.btn-primary {
  color: #fff;
  background-color: #63B7AF !important;
  border-color: #63B7AF !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F7F7F7;
}

.text-img {
  font-size: 18px !important;
  color: #68b0ab !important;
  font-family: 'Cinzel Decorative', cursive;
  background: linear-gradient(to left, #68b0ab, #ff7e67) no-repeat !important;
  color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 900 !important;
}

.text-title {
  font-size: 30px !important;
}

.text-btn {
  background: linear-gradient(to left, #abdbe3, #154c79) no-repeat !important;
  color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-weight: 500 !important;
  border-radius: 0px !important;
  padding: 12px !important;
}
